html, body {
    background-color: rgb(255, 255, 255) ;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Infhr {
    color: black;
    overflow: visible;
    text-align: center;
  }
  .Infhr::after {
    background: rgb(255, 255, 255);
    content: 'INFORMATIONS';
    padding: 0 30px;
    position: relative;
    top: -27px;
    font-weight: 800;
    font-size:x-large;
  }  

  .Sky-image {
    background-image: url("images/pic3.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }      
  .Sky-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    }      
    .uptitle-text {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }

  .uprighttitle-text {
    text-align: center;
    position: absolute;
    left: 97%;
    top: 4%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
  }

  .p-text {
    position: absolute;
    position: relative;
    padding: 1em;
    background-color: rgb(243, 243, 243);
    color: rgb(0, 0, 0);

  }

  .imghr {
    color: black;
    overflow: visible;
    text-align: center;
    
  }
  .imghr::after {
    background: rgb(255, 255, 255);
    content: 'IMAGES';
    padding: 0 30px;
    position: relative;
    top: -27px;
    font-weight: 800;
    font-size:x-large;
  }  

  .flex-container {
    display: flex;
    justify-content: space-around;
    height: 300px;
    background-color: rgb(243, 243, 243);
  }

  .pic1-image {
    background-image: url("images/pic2.png");
    height: 250px;
    width: 300px;
    top: 25px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }  

  .pic2-image {
    background-image: url("images/pic4.png");
    height: 250px;
    width: 300px;
    top: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }  

  .pic3-image {
    background-image: url("images/pic1.png");
    height: 250px;
    width: 300px;
    top: 25px;
    background-position: right;
    background-size: cover;
    position: relative;
  }  

h1{font-family: "Fira Sans", Impact, fantasy;}
h3{font-family: "Fira Sans", Impact, fantasy;}