html, body {
    background-color: rgb(255, 255, 255) ;
    font-family: Arial, Helvetica, sans-serif;
}
.cercle {  
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fdebd0;
    border: 4px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

/* Image dans les cercles */
.cercleIcon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
}
.bdpic{    
    width: 60px;
    height: 60px;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 22%;
}

.cercle span {
    margin-top: 50px;
}
.bubble {
    display: grid;
    grid-template-columns: 10fr 0.1fr 10fr;
    justify-items: center;
}
.bubbleItem{
    margin: 2em 0em 1em 0em;
    transition: 1s;
}
.bubbleItem:hover{
    transform: scale(1.20);
}

.navigation{
    background-color: #2E4365;
    margin: 3em;
    border: solid black 2px;
    border-radius: 13px;
    padding: 1em;
}

.navigation h1{
    background-color: #F5ECD5;
    text-align: center;
    margin: 0 5em 2em 5em;
    padding: 0.5em 2.5em 0.5em 2.5em;
    border: solid 2px black;
    border-radius: 13px;
}

.navigation li{
    background-color: #F5ECD5;
    border: solid black 2px;
    list-style: none;
    margin: 0 12em 2em 10em;
    text-align: center;
    padding: 1em;
    transition: 1s;
    border-radius: 13px;
}

.navigation li:hover{
    transform: scale(1.10);
}

main{
    margin: 3em 3em 3em 3em;
}

.indexMain article{
    background-color: #2E4365;
    padding: 1em;
    margin: 3em 0em 3em 0;
    border: solid 2px black;
    border-radius: 13px;
}

p{
    color: white;
}

.identite li{
    color: white;
    padding: 0.75em;
}

.bloc{
    display: grid;
    grid-template-columns: 1fr 0.50fr
}

.bloc img{
    width: 70%;
    border: #FFCE3A solid 3px;
    border-radius: 3px;
}

.bubble li{
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

.indexMain h2{
    background-color: #F5ECD5;
    text-align: center;
    margin: 0 5em 0.5em 5em;
    padding: 0.5em 2.5em 0.5em 2.5em;
    border: solid 2px black;
    border-radius: 13px;
}

.competence ul{
    list-style: none;
}

.underArticle table{
    display: flex;
    margin: -7.5em 0 -5em 0;
    justify-content: center;
    border-spacing: 5em;
}
.underArticle th{
    text-align: center;
    background-color: #F5ECD5;
    border: 3px black solid;
    width: 10em;
    padding: 1em;
    border-radius: 13px;
}

.contact{
    text-align: center;
}

.contact table{
    display: flex;
    justify-content: center;
    border-spacing: 20px;
}

.contact th{
    text-align: center;
    background-color: #F5ECD5;
    border: 3px black solid;
    width: 10em;
    padding: 1em;
    transition: 1s;
    border-radius: 13px;
}
.contact th:hover{
    transform: scale(1.20);
}

.underArticle th{
    background-color: #F5ECD5;
    border: solid black 2px;
    list-style: none;
    width: 10em;
    text-align: center;
    padding: 1em;
    transition: 1s;
    border-radius: 13px;
}

.underArticle th{
    transform: scale(1.20);
}


